@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  position: relative;
  margin: 5% auto;
  height: 95%;
  width:95%;
  margin:0 auto;
  display: flex;
  text-align: center;
}

.admission-input {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 48%;
  height: 100%;
  background: #FFF;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.info {
  align-items: center;
  height: 70%;
  padding-bottom: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  padding: 20px;
}

.info, .generate-reset {
  width: 100%;
}

.generate-reset {
  height: 15%;
  align-items: center;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  height: 20%;
}

input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 90%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.generate-reset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.generate-reset > button {
  margin: 10px;
  width: 200px;
  height: 50px;
  background: #16a085;
  border: none;
  border-radius: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  flex-basis: 50%;
}

#reset {
  background-color: #fcbd3f;
}

.generate-reset > button:hover,
.generate-reset > button:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.generate-reset > button:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.output {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 48%;
  height: 100%;
  background: #FFF;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.output .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

