IconButton {
    border-radius: 50%;
}

#add {
    background-color: #00b140;
    padding: 0;
    margin: 5px;
}

#remove {
    background-color: #ffd662;
    padding: 0;
    margin: 5px;
}

.add-remove {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5%;
    margin: 3%;
}

.SearchBar {
    width: 72%;
}

.Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px black;
    padding: 5px;
    padding-right: 5px;
    padding-left: 10px;
    background: #4287f5;
    background-clip: border-box;
    border-radius: 30px;
    margin-left:15px;
    margin-right:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

.inputRounded .MuiOutlinedInput-root {
    background-color: white;
}