#generate {
    color: #2f9ac4;
}

#generate:hover {
    transform: scale(1.5); 
}

#reset:hover {
    transform: scale(1.5); 
}

.generate-reset {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}